<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.formdakal"
    android:versionCode="3"
    android:versionName="2.1.1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <activity
            android:name=".Mainvejeteryan"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainKatejonik"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Mainaraliklioruc"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Mainkaratay"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Maindukan"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1252159248405155~6674293794" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityyagyak"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivitynotekle"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivitynotdefteri"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivitydetox"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivitygobekeritme"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivityhizlikilo"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivityliflibesinler"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivitydiyetler"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivityegzersiz"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OnGundeZayifla"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivityCay"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".KaloriHesapla"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivityForm"
            android:finishOnTaskLaunch="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>